Repository tay2501/String-Multitool, changes with the labels that .github/labeler.yml gives for each.
All labels: area:core, area:transformations, area:config, area:architecture, area:security, area:io, area:modes, area:daemon, area:interactive, area:hotkeys, area:testing, area:documentation, area:build, area:cicd, dependencies, area:config-files, area:typing, area:error-handling, area:utils, area:cli, size:S, size:M, size:L, size:XL, lang:python, lang:powershell, lang:yaml, lang:json, lang:toml, lang:markdown, platform:windows, platform:cross-platform

feat: Enhance hotkey sequence management and logging configuration
  .gitleaks.toml
  .pre-commit-config.yaml
  config/logging_config.json
  config/logging_config.local.json
  requirements-dev.txt
  string_multitool/application_factory.py
  string_multitool/core/dependency_injection.py
  string_multitool/core/types.py
  string_multitool/main.py
  string_multitool/modes/daemon_config_manager.py
  string_multitool/modes/daemon_refactored.py
  string_multitool/modes/hotkey_sequence_manager.py
  string_multitool/utils/logger.py
Labels: area:core, area:transformations, area:config, area:architecture, area:modes, area:daemon, area:hotkeys, area:cicd, dependencies, area:config-files, area:typing, area:utils, size:S, size:M, size:L, size:XL, lang:python, lang:yaml, lang:json, lang:toml, platform:cross-platform

fix: Update logging configuration by removing unnecessary parameters and enhance hotkey mode creation with IO manager
  config/logging_config.local.json
  string_multitool/application_factory.py
Labels: area:config, area:architecture, area:config-files, area:typing, size:S, size:M, size:L, size:XL, lang:python, lang:json

fix: Update SBOM generation commands and improve secret scanning base branch reference
  .github/workflows/security.yml
Labels: area:cicd, size:S, size:M, size:L, size:XL, lang:yaml

fix: Allow empty text encryption and improve error handling in clipboard monitor tests
  string_multitool/core/crypto.py
  string_multitool/core/types.py
  string_multitool/main.py
  string_multitool/modes/interactive.py
  test_transform.py
Labels: area:core, area:transformations, area:security, area:modes, area:interactive, area:testing, area:typing, size:S, size:M, size:L, size:XL, lang:python, platform:cross-platform

fix: Update bug report template and CI configuration for improved clarity and consistency
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/ci.yml
Labels: area:testing, area:cicd, size:S, size:M, size:L, size:XL, lang:yaml, lang:markdown

fix: Refactor CI pipeline for improved clarity and efficiency, enhance quality checks, and update job configurations
  .github/workflows/ci.yml
Labels: area:testing, area:cicd, size:S, size:M, size:L, size:XL, lang:yaml

fix: Enhance container security scan with permissions and error handling improvements
  .github/workflows/security.yml
Labels: area:cicd, size:S, size:M, size:L, size:XL, lang:yaml

fix: Improve security workflow with enhanced permissions and error handling in issue creation
  .github/workflows/security.yml
Labels: area:cicd, size:S, size:M, size:L, size:XL, lang:yaml

fix: Simplify linting and testing commands in CI pipeline for improved readability
  .github/workflows/ci.yml
Labels: area:testing, area:cicd, size:S, size:M, size:L, size:XL, lang:yaml

fix: Update GitLeaks allowlist configuration for improved regex handling and clarity; refine requirements for reproducibility and security; enhance error handling in transformation tests
  .gitleaks.toml
  requirements.txt
  string_multitool/main.py
  test_transform.py
Labels: area:core, area:config, area:testing, area:cicd, dependencies, area:typing, size:S, size:M, size:L, size:XL, lang:python, lang:toml

fix: Remove unnecessary import of DaemonModeRefactored for improved clarity in ApplicationInterface
  string_multitool/main.py
Labels: area:core, area:typing, size:S, size:M, size:L, size:XL, lang:python

Refactor logging messages and improve error handling
  .github/workflows/ci.yml
  .gitignore
  README.md
  String_Multitool.py
  string_multitool/__init__.py
  string_multitool/application_factory.py
  string_multitool/core/transformations.py
  string_multitool/io/manager.py
  string_multitool/main.py
  string_multitool/modes/interactive.py
  string_multitool/utils/logger.py
  test_readme_examples.py
Labels: area:core, area:transformations, area:architecture, area:io, area:modes, area:interactive, area:testing, area:documentation, area:cicd, area:config-files, area:typing, area:utils, area:cli, size:S, size:M, size:L, size:XL, lang:python, lang:yaml, lang:markdown, platform:cross-platform

.github/labeler.yml:

# Labeler configuration for auto-labeling PRs based on files changed
# This file is used by the GitHub Actions labeler action

# Core functionality changes
'area:core':
  - string_multitool/core/**
  - string_multitool/main.py
  - String_Multitool.py

# Transformation engine changes  
'area:transformations':
  - string_multitool/core/transformations.py
  - string_multitool/core/types.py

# Configuration management
'area:config':
  - string_multitool/core/config.py
  - config/**
  - pyproject.toml
  - requirements*.txt

# Dependency injection and architecture
'area:architecture':
  - string_multitool/core/dependency_injection.py
  - string_multitool/application_factory.py
  - string_multitool/core/error_handling.py

# Cryptography and security
'area:security':
  - string_multitool/core/crypto.py
  - config/security_config.json

# I/O operations
'area:io':
  - string_multitool/io/**

# Mode implementations
'area:modes':
  - string_multitool/modes/**

# Daemon mode specifically
'area:daemon':
  - string_multitool/modes/daemon*.py
  - string_multitool/modes/clipboard_monitor.py
  - string_multitool/modes/hotkey_sequence_manager.py
  - string_multitool/modes/daemon_config_manager.py

# Interactive mode
'area:interactive':
  - string_multitool/modes/interactive.py

# Hotkey functionality
'area:hotkeys':
  - string_multitool/modes/hotkey*.py
  - config/hotkey_config.json

# Testing
'area:testing':
  - test_*.py
  - tests/**
  - .github/workflows/ci.yml
  - .github/workflows/coverage.yml

# Documentation
'area:documentation':
  - '*.md'
  - docs/**
  - ARCHITECTURE.md
  - CONTRIBUTING.md
  - PROJECT_STRUCTURE.md

# Build and deployment
'area:build':
  - build.ps1
  - setup.py
  - pyproject.toml
  - .github/workflows/release.yml

# CI/CD and workflows
'area:cicd':
  - .github/workflows/**
  - .pre-commit-config.yaml
  - .gitleaks.toml

# Dependencies
'dependencies':
  - requirements*.txt
  - pyproject.toml
  - setup.py

# Configuration files
'area:config-files':
  - config/**
  - pyrightconfig.json
  - .gitignore
  - .pre-commit-config.yaml

# Type annotations and typing
'area:typing':
  - '**/*.py'

# Error handling and exceptions
'area:error-handling':
  - string_multitool/exceptions.py
  - string_multitool/core/error_handling.py

# Logging and utilities
'area:utils':
  - string_multitool/utils/**

# CLI interface
'area:cli':
  - string_multitool/cli.py
  - String_Multitool.py

# Size labels based on lines changed
'size:XS':
  - any: ['**/*']
    all:
      - '!**/*.md'
      - '!docs/**'
      - '!.github/**'

'size:S':
  - any: ['**/*']

'size:M':
  - any: ['**/*']

'size:L':
  - any: ['**/*']

'size:XL':
  - any: ['**/*']

# Language-specific labels
'lang:python':
  - '**/*.py'

'lang:powershell':
  - '**/*.ps1'

'lang:yaml':
  - '**/*.yml'
  - '**/*.yaml'

'lang:json':
  - '**/*.json'

'lang:toml':
  - '**/*.toml'

'lang:markdown':
  - '**/*.md'

# Platform-specific changes
'platform:windows':
  - build.ps1
  - '**/*.ps1'
  - string_multitool/modes/hotkey.py  # Windows-specific hotkey implementation

'platform:cross-platform':
  - string_multitool/core/**
  - string_multitool/io/**
